*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#top{
    width: 100%;
    height: 12vh;
    background-color:black;
    color: darkgoldenrod;
    display:flex;
    align-items:center;
    justify-content:center;
}
#top .top1{
    width: 45%;
}

#top .top2{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#top .top2 ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
#nav-down .one{
    width:80px;
    height:80px;
    border: 1px solid black;
    border-radius: 50%;

}
.nav{
    width: 100%;
    height: 25PX;
    justify-content: center;
    display:flex ;
    align-items: center;
    gap: 50px;
    font-size: large;
    background-color: white;
}
.nav #nav1{
    border: none;
    outline: none;
}
#nav-down{
    width: 100%;
    /* height:auto; */
    padding: 1rem 0rem 2rem 0rem;
    border: 1px black;
    justify-content: center;
    gap: 40px;
    display:flex ;
    align-items: center;
    font-size: large;
    background-color:wheat;
    

}

#nav-down img{
    border-radius: 50%;
    width: 100%;
}
#new-arrivals{
    width: 100%;
    height: auto;
    border: 1px solid black;
    /* display: flex;
    justify-content: center; */

}
 #new-arrivals .best-seller div{
    width:298px;
    height:500px;
 border: 1px solid black; 
   color: aliceblue;
   background-color: black;
   margin-top: 40px;
    
} 
#new-arrivals .best-seller{

display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
#new-arrivals .best-seller div img{
    width:296px;
    height: 300px;
    
}
#new-arrivals .best-seller div p{
    border: 1px solid red;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e7bf88;
    margin-top: 10px;
}
 #tect {
    width: 100%;
    height: 100%;
    background-color:black;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
 }
#photo{
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
#photo div img{
    width:296px;
    height: 400px;
    margin-top: 150px;
    margin-bottom: 20px;
}
.glow{
    display: flex;
justify-content: center;
align-items: center;
gap: 20px;
margin-bottom: 50px;
}
.glow div{
    width:298px;
    height:500px;
 border: 1px solid black; 
   color: aliceblue;
   background-color: black;
   margin-top: 40px;
}
.glow div img{
    width:296px;
    height: 300px;
}
.glow div p{
    border: 1px solid red;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e7bf88;
    margin-top: 10px;
}
.pic{
    margin-top: 20px;
    border-radius: 50%;
  width: 100%;
  
}
#pro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin-bottom: 10px; */
} 
#pro div img{
width: 100%;
height: 150%; 
border: 1px solid black;
}